#pankki{
    margin-bottom: 20px;
    text-align: center;
    color: rgb(90, 0, 0);
}
button{
    cursor: pointer;
}
#peli{
    margin-bottom: 20px;
    text-align: center;
    color: brown;
}
body{
    background-color: rgb(40, 116, 59);
}
#säänöt{
    color: rgba(233, 220, 34, 0.699);
    position: absolute;
    top: 0;
    left: 20;
}
#lock_viesti{
    color: rgb(90, 0, 0);
}
#lock1{
    margin-right: 50px;
    margin-right: 50px;
}
#lock2{
    margin-right: 50x;
}
#lock3{
    margin-left: 50px;
    margin-right: 50px;
}
#lock4{
    margin-right: 50px;
    margin-right: 50px;
}
#lock5{
    margin-right: 50px;
    margin-right: 50px;
}
